import(robustbase)
import(rrcov)
importFrom(abind, abind)
importFrom(mvtnorm, rmvnorm)
export(
	hrSim,
	hrSimParallel,
	hrSimNew,
	hrSimNewParallel,
	hr.cm,
	table1sim.parallel,
	table13sim.parallel,
	table13sim.parallel.check,
	CovMcd2,
	Cerioli2010PowerShift
)
