import(robustbase)
importFrom(abind, abind)
importFrom(mvtnorm, rmvnorm)
importFrom(rrcov, CovMcd)
importFrom(rrcov, CovOgk)
importFrom(rrcov, CovSest)
importFrom(rrcov, getDistance)
export(
	hrSim,
	hrSimParallel,
	hrSimNew,
	hrSimNewParallel,
	hr.cm,
	table1sim.parallel,
	table13sim.parallel,
	table13sim.parallel.check,
	CovMcd2
)
